@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe";
  src: url("./fonts/SegoeUI.woff") format("woff");
}

body {
  color: white;
  background: #1c1c1e;
}

.hero-bg {
  background-image: url(../public/background1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
